<div class="modal" ng-controller="PasswordResetCtrl">
  <ion-header-bar>
    <h1 class="title">Reset Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="resetPassword()">
      <div class="list">
        <div class="assertive padding-left">{{msg}}</div>
        <label class="item item-input" ng-class="successClass">
          <span class="input-label">Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-class="successClass">Send Password Reset Email</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>

