<ion-view title="{{workout.name}}">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list class="workout">
      <ion-item ng-repeat="exercise in workout.exercises" class="small-list" ng-class="{{exercise.cat.toLowerCase() + 'Class'}}">
        <div class="row">
          <div class="col col-75">
            <p>{{exercise.name}}</p>
          </div>
          <div class="col col-25">
            <p>{{Math.floor(exercise.dur/60)}}:{{pad(exercise.dur%60)}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col col-50">
        <a href="#/app/workouts/{{workout.id}}/edit" class="button button-block button-dark">Edit This Workout!</a>
      </div>
      <div class="col col-50">
        <a href="#/app/workouts/{{workout.id}}/play" class="button button-block button-positive">Play This Workout!</a>
      </div>
    </div>
  </ion-content>
</ion-view>
