<ion-view title="{{title}}">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form>
      <label class="item item-input">
        <input type="text" ng-model="workout.name" placeholder="Enter Workout Name...">
      </label>
      <button class="button button-icon icon ion-minus-circled" ng-click="showDelete = !showDelete; showReorder = false"></button>
      <button class="button button-icon icon ion-arrow-move" ng-click="showReorder = !showReorder; showDelete = false"></button>
      <ion-list class="workout" show-delete="showDelete" show-reorder="showReorder">
        <ion-item class="item-divider assertive">{{msg}}</ion-item>
        <ion-item ng-repeat="exercise in exercises" class="small-list padding-right padding-left" ng-click="editExercise($index)" ng-class="{{exercise.cat.toLowerCase() + 'Class'}}">
          <div class="row">
            <ion-delete-button class="ion-minus-circled" ng-click="$event.stopPropagation(); rmExercise($index)">
            </ion-delete-button>
            <div class="col">
              <p>{{exercise.name}}</p>
            </div>
            <div class="col">
              <p>{{exercise.dur.minutes}}:{{pad(exercise.dur.seconds)}}</p>
            </div>
            <ion-reorder-button class="ion-arrow-move" on-reorder="mvExercise($fromIndex, $toIndex)">
            </ion-reorder-button>
          </div>
        </ion-item>
        <ion-item class="small-list">
          <div class="row">
            <label class="item item-input">
              <span class="input-label">Rounds</span>
              <input type="number" min="1" ng-model="workout.rounds" select-on-click>
            </label>
          </div>
        </ion-item>
      </ion-list>
      <div class="row">
        <div class="col col-50">
          <button class="button button-block button-dark" ng-click="createExercise()">Add Exercise/Rest</button>
        </div>
        <div class="col col-50">
          <button class="button button-block button-positive" ng-click="submit(form)">Save</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
