<ion-view title="{{title}}">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form>
      <label class="item item-input">
        <input type="text" ng-model="workout.name" placeholder="Enter Workout Name...">
      </label>
      <ion-list>
        <ion-item class="item-divider assertive">{{msg}}</ion-item>
        <ion-item ng-repeat="exercise in exercises" class="small-list" ng-click="editExercise($index)">
          <div class="row">
            <div class="col col-10">
              <p>{{exercise.cat.charAt(0)}}</p>
            </div>
            <div class="col">
              <p>{{exercise.name}}</p>
            </div>
            <div class="col col-20">
              <p>{{exercise.dur.minutes}}:{{pad(exercise.dur.seconds)}}</p>
            </div>
            <div class="col col-33">
              <button class="button button-royal button-small icon ion-arrow-up-b" ng-click="$event.stopPropagation(); mvExercise($index, -1)"></button>
              <button class="button button-royal button-small icon ion-arrow-down-b" ng-click="$event.stopPropagation(); mvExercise($index, 1)"></button>
              <button class="button button-assertive button-small icon ion-trash-a" ng-click="$event.stopPropagation(); rmExercise($index)"></button>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <div class="row">
        <div class="col col-50">
          <button class="button button-block button-dark" ng-click="createExercise()">Add Exercise/Rest</button>
        </div>
        <div class="col col-50">
          <button class="button button-block button-positive" ng-click="submit(form)">Save</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
