<ion-view title="{{workout.name}}">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="background-color: {{bgColor}}">
    <div class="row centered padding-top padding-bottom">
      <div class="col"><h3 class="prev-next">{{prevExercise}}</h3></div>
      <div class="col"><h3 class="prev-next">{{nextExercise}}</h3></div>
    </div>
    <div class="row centered padding-top padding-bottom cur-ex">
      <div class="col"></div>
      <h1 class="col col-75" ng-model="currentExercise" fit-ex>{{currentExercise.name}}</h1>
      <div class="col"></div>
    </div>
    <div class="row centered padding-top padding-bottom">
      <div class="col col-10"></div>
      <div class="col col-80"><h1 class="timer">{{Math.floor(totalMilSecs/60000)}}:{{pad(Math.ceil(totalMilSecs%60000/1000))}}</h1></div>
      <div class="col col-10"></div>
    </div>
    <div class="row centered padding-top padding-bottom">
      <div class="col"><h2>Round {{currentRound}} of {{workout.rounds}}</h2></div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button class="button icon ion-skip-backward" ng-click="skipBack()"></button>
      <button class="button icon {{startPause}}" ng-click="spFunc()"></button>
      <button class="button icon ion-skip-forward" ng-click="skipForward()"></button>
    </div>
  </ion-footer-bar>
</ion-view>
